<style>
    body, body *{
        margin: 0;
        padding: 0;
    }
    #content {
        width: 1080px;
        height: 1080px;
        background-color: red;
    }
</style>
<div id="content">
<%- image %>
</div>